<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071190745568-72authigclk927ki8tbhcs7kvem3171k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071190745568-72authigclk927ki8tbhcs7kvem3171k</string>
	<key>API_KEY</key>
	<string>AIzaSyCHWQnjLwE3f4RH_d6Rp-k9PJiyWpiOjS0</string>
	<key>GCM_SENDER_ID</key>
	<string>1071190745568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.microsoft.newskypetemplate</string>
	<key>PROJECT_ID</key>
	<string>newskypetemplate</string>
	<key>STORAGE_BUCKET</key>
	<string>newskypetemplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071190745568:ios:2b175fe577d9f0fdb88b85</string>
	<key>DATABASE_URL</key>
	<string>https://newskypetemplate.firebaseio.com</string>
</dict>
</plist>